h1 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    color: #666;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.header-and-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    back
}

.interact-panel {
    margin-top: 20px;
    align-items: center;
}